@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c2a24;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2a24;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Mono", monospace;
}
